* {
	transition: all .3s;
	margin: 0;
	padding: 0;
}

.list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.block {
	width: 400px;
	height: 150px;
	border: 2px solid white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 5px;
	margin: 10px;
	opacity: 1;
}

.color {
	min-width: 140px;
	min-height: 140px;
	border-radius: 10px;
	line-height: 140px;
	font-size: 40px;
	font-weight: 500;
	margin-left: 4px;
	margin-right: 10px;
}

.active {
	opacity: .5;
}

.block:hover {
	padding: 20px;
	opacity: 1;
}

.colorBlindLabel {
	opacity: 0;
	min-width: 140px;
	min-height: 140px;
	margin-left: 4px;
	pointer-events: none;
	position: absolute;
}