* {
	padding: 0;
	margin: 0;
	transition: all .3s;
}

.navbar {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 0 25px;
}

.header {
	font-weight: 400;
}

.btns {
	display: inline-flex;
}

.btn {
	text-decoration: none;
	text-align: center;
	position: relative;

	color: white;
}

.active {
	color: orange;
}

.btn:first-child {
	margin-right: 1em;
}

.btn::after {
	content: "";
	width: 0px;
	height: 2px;

	background-color: white;

	position: absolute;
	left: 50%;
	bottom: -30%;

	transform: translate(-50%);
	transition: width .3s ease-in-out;
}

.active::after {
	background-color: orange;
	width: 25%;
}

.btn:hover::after {
	width: 100%;
}